h1 {
    text-align: center;
    color: white;
    font-size: 46px;
    font-weight: 700;
}

.form-group {
    text-align: center;
}

.form-group [type="text"]{
    height: 30px;
}

.form-group [type="password"]{
    height: 30px;
    margin-top: 5px;
}

.form-group [type="submit"]{
    height: 25px;
    margin-top: 18px;
    font-weight: bold;
}